html {
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}

.main-content {
  --background: linear-gradient(white, var(--ion-color-secondary));
}

@media (prefers-color-scheme: dark) {
  .main-content {
    --background: linear-gradient(var(--ion-background-color), var(--ion-color-secondary));
  }
}

.list-ios {
  background: transparent;
}

.list-md {
  background: transparent;
}

.item {
  --background: transparent;
}

ion-list-header {
  --background: transparent;
}

ion-card {
  border-radius: 20px;
}
